In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-1.26.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.0/61.0 kB 625.2 kB/s eta 0:00:001m750.8 kB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.7/12.7 MB 35.7 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Downloading numpy-1.26.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.0/18.0 MB 26.8 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 kB 10.5 MB/s eta 0:00:00
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.2 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
!conda install scikit-learn

Channels:
 - defaults
Platform: linux-64
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/conda

  added / updated specs:
    - scikit-learn


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    blas-1.0                   |              mkl           6 KB
    intel-openmp-2023.1.0      |   hdb19cb5_46306        17.2 MB
    joblib-1.4.0               |  py312h06a4308_0         521 KB
    libgfortran-ng-11.2.0      |       h00389a5_1          20 KB
    libgfortran5-11.2.0        |       h1234567_1         2.0 MB
    mkl-2023.1.0               |   h213fc3f_46344       171.5 MB
    mkl-service-2.4.0          |  py312h5eee18b_1          66 KB
    mkl_fft-1.3.8              |  py312h5eee18b_0         204 KB
    mkl_random-1.2.4           |  py312hdb19cb5_0         284 KB
    numpy-1.26.4               |  py312hc5e2394_0          11 KB
    numpy-base-1.26.4          |  py312h0da6c21_0         7.7 MB
    scikit-learn-1.4.2         |  py312h526ad5a_1        10.1 MB
    scipy-1.12.0               |  py312hc5e2394_0        23.3 MB
    tbb-2021.8.0               |       hdb19cb5_0         1.6 MB
    threadpoolctl-2.2.0        |     pyh0d69192_0          16 KB
    ------------------------------------------------------------
                                           Total:       234.6 MB

The following NEW packages will be INSTALLED:

  blas               pkgs/main/linux-64::blas-1.0-mkl
  intel-openmp       pkgs/main/linux-64::intel-openmp-2023.1.0-hdb19cb5_46306
  joblib             pkgs/main/linux-64::joblib-1.4.0-py312h06a4308_0
  libgfortran-ng     pkgs/main/linux-64::libgfortran-ng-11.2.0-h00389a5_1
  libgfortran5       pkgs/main/linux-64::libgfortran5-11.2.0-h1234567_1
  mkl                pkgs/main/linux-64::mkl-2023.1.0-h213fc3f_46344
  mkl-service        pkgs/main/linux-64::mkl-service-2.4.0-py312h5eee18b_1
  mkl_fft            pkgs/main/linux-64::mkl_fft-1.3.8-py312h5eee18b_0
  mkl_random         pkgs/main/linux-64::mkl_random-1.2.4-py312hdb19cb5_0
  numpy              pkgs/main/linux-64::numpy-1.26.4-py312hc5e2394_0
  numpy-base         pkgs/main/linux-64::numpy-base-1.26.4-py312h0da6c21_0
  scikit-learn       pkgs/main/linux-64::scikit-learn-1.4.2-py312h526ad5a_1
  scipy              pkgs/main/linux-64::scipy-1.12.0-py312hc5e2394_0
  tbb                pkgs/main/linux-64::tbb-2021.8.0-hdb19cb5_0
  threadpoolctl      pkgs/main/noarch::threadpoolctl-2.2.0-pyh0d69192_0


Proceed ([y]/n)? ^C

CondaSystemExit:
Operation aborted.  Exiting.

In [1]:
import sklearn

In [2]:
from sklearn.feature_extraction import DictVectorizer

In [33]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np

In [3]:
import pandas as pd

In [4]:
pd.__version__

'2.2.2'

In [4]:
!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-16.1.0-cp310-cp310-manylinux_2_28_x86_64.whl.metadata (3.0 kB)
Requirement already satisfied: numpy>=1.16.6 in /home/codespace/.local/lib/python3.10/site-packages (from pyarrow) (1.26.4)
Downloading pyarrow-16.1.0-cp310-cp310-manylinux_2_28_x86_64.whl (40.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.8/40.8 MB 25.7 MB/s eta 0:00:00m eta 0:00:010:01:01
Installing collected packages: pyarrow
Successfully installed pyarrow-16.1.0

In [5]:
pip install fastparquet

Collecting fastparquet
  Downloading fastparquet-2024.5.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.1 kB)
Requirement already satisfied: pandas>=1.5.0 in /opt/conda/lib/python3.12/site-packages (from fastparquet) (2.2.2)
Requirement already satisfied: numpy in /opt/conda/lib/python3.12/site-packages (from fastparquet) (1.26.4)
Collecting cramjam>=2.3 (from fastparquet)
  Downloading cramjam-2.8.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.2 kB)
Collecting fsspec (from fastparquet)
  Downloading fsspec-2024.5.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: packaging in /opt/conda/lib/python3.12/site-packages (from fastparquet) (23.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas>=1.5.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas>=1.5.0->fastparquet) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas>=1.5.0->fastparquet) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)
Downloading fastparquet-2024.5.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 5.9 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Downloading cramjam-2.8.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 21.5 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Downloading fsspec-2024.5.0-py3-none-any.whl (316 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.1/316.1 kB 10.0 MB/s eta 0:00:00
Installing collected packages: fsspec, cramjam, fastparquet
Successfully installed cramjam-2.8.3 fastparquet-2024.5.0 fsspec-2024.5.0
Note: you may need to restart the kernel to use updated packages.

In [5]:
df = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet")

In [6]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2.0,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186.0,79.0,2.0,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1.0,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140.0,236.0,1.0,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1.0,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236.0,79.0,1.0,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1.0,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79.0,211.0,1.0,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1.0,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211.0,148.0,1.0,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0

In [7]:
df_jan_2023 = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet")

In [8]:
df_feb_2023 = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet")

Q1. Downloading the data
We'll use the same NYC taxi dataset, but instead of "Green Taxi Trip Records", we'll use "Yellow Taxi Trip Records".

Download the data for January and February 2023.

Read the data for January. How many columns are there?

16
 -> Ans17
18
19

In [9]:
# Q1
len(df_jan_2023.columns)

19

Q2. Computing duration
Now let's compute the duration variable. It should contain the duration of a ride in minutes.

What's the standard deviation of the trips duration in January?

32nswer
 -> Answer
42.59

52.59
62.59

In [10]:
df_jan_2023.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [11]:
# Copy the data
df_copy = df_jan_2023.copy()

In [12]:
# Datetime columns are in DateTime format
df_copy['tpep_pickup_datetime'] = pd.to_datetime(df_copy['tpep_pickup_datetime'])
df_copy['tpep_dropoff_datetime'] = pd.to_datetime(df_copy['tpep_dropoff_datetime'])

In [13]:
# Calculate the duration in minutes
df_copy['duration_in_minutes'] = (df_copy['tpep_dropoff_datetime'] - df_copy['tpep_pickup_datetime']).dt.total_seconds() / 60

In [14]:
# Filter the data for trips in January
df_january = df_copy[df_copy['tpep_pickup_datetime'].dt.month == 1]

In [15]:
df_january

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration_in_minutes
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN,13.983333
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN,19.450000
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN,24.516667
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN,13.000000
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN,14.400000

In [16]:
# Compute the standard deviation of the trip durations
std_duration = df_january['duration_in_minutes'].std()

In [17]:
print(f"The standard deviation of the trip durations in January is: {std_duration:.2f} minutes")

The standard deviation of the trip durations in January is: 42.59 minutes

Q3. Dropping outliers
Next, we need to check the distribution of the duration variable. There are some outliers. Let's remove them and keep only the records where the duration was between 1 and 60 minutes (inclusive).

What fraction of the records left after you dropped the outliers?


90
%
9
2%
 -> Ans95%
98% There are some outliers. Let's remove them and keep only the records where the duration was between 1 and 60 minutes (inclusive).

What fraction of the records left after you dropped the outliers?


90
%
9
2%
 - Ans95%
98%

In [18]:
# duration was between 1 and 60 minutes.
filtered_data = df_copy[(df_copy['duration_in_minutes'] >= 1) & (df_copy['duration_in_minutes'] <= 60)]

In [19]:
filtered_data

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration_in_minutes
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN,13.983333
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN,19.450000
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN,24.516667
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN,13.000000
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN,14.400000

In [20]:
total_records_before = len(df_copy)

In [21]:
total_records_before

3066766

In [22]:
total_records_after = len(filtered_data)

In [23]:
total_records_after

3009173

In [24]:
# Compute the fraction of records left
fraction_left = total_records_after / total_records_before
fraction_left *100

98.1220282212598

In [25]:
print(f"Fraction of records left after dropping outliers: {fraction_left:.4f}")

Fraction of records left after dropping outliers: 0.9812

Q4. One-hot encoding
Let's apply one-hot encoding to the pickup and dropoff location IDs. We'll use only these two features for our model.

Turn tdataframeame into a list of dictionaries (remember to re-cast the ids to strings - otherwise it will label encode them)
Fit a dictionary vectorizer
Get a feature matrix from it
What's the dimensionality of this matrix (number of olumn
s)?




2




15

 -> Ans
5
345
515
715

In [26]:
# Converted Into String
df_copy["PULocationID"] = df_copy["PULocationID"].astype(str)
df_copy["DOLocationID"] = df_copy["DOLocationID"].astype(str)

In [27]:
# Convert DataFrame into the list
df_to_list_of_dict = df_copy[['PULocationID', 'DOLocationID']].to_dict(orient='records')

In [28]:
df_to_list_of_dict

[{'PULocationID': '161', 'DOLocationID': '141'},
 {'PULocationID': '43', 'DOLocationID': '237'},
 {'PULocationID': '48', 'DOLocationID': '238'},
 {'PULocationID': '138', 'DOLocationID': '7'},
 {'PULocationID': '107', 'DOLocationID': '79'},
 {'PULocationID': '161', 'DOLocationID': '137'},
 {'PULocationID': '239', 'DOLocationID': '143'},
 {'PULocationID': '142', 'DOLocationID': '200'},
 {'PULocationID': '164', 'DOLocationID': '236'},
 {'PULocationID': '141', 'DOLocationID': '107'},
 {'PULocationID': '234', 'DOLocationID': '68'},
 {'PULocationID': '79', 'DOLocationID': '264'},
 {'PULocationID': '164', 'DOLocationID': '143'},
 {'PULocationID': '138', 'DOLocationID': '33'},
 {'PULocationID': '33', 'DOLocationID': '61'},
 {'PULocationID': '79', 'DOLocationID': '186'},
 {'PULocationID': '90', 'DOLocationID': '48'},
 {'PULocationID': '113', 'DOLocationID': '255'},
 {'PULocationID': '237', 'DOLocationID': '239'},
 {'PULocationID': '143', 'DOLocationID': '229'},
 {'PULocationID': '137', 'DOLocationID': '79'},
 {'PULocationID': '132', 'DOLocationID': '116'},
 {'PULocationID': '163', 'DOLocationID': '161'},
 {'PULocationID': '161', 'DOLocationID': '164'},
 {'PULocationID': '161', 'DOLocationID': '87'},
 {'PULocationID': '68', 'DOLocationID': '164'},
 {'PULocationID': '164', 'DOLocationID': '232'},
 {'PULocationID': '43', 'DOLocationID': '262'},
 {'PULocationID': '263', 'DOLocationID': '262'},
 {'PULocationID': '263', 'DOLocationID': '229'},
 {'PULocationID': '170', 'DOLocationID': '75'},
 {'PULocationID': '263', 'DOLocationID': '36'},
 {'PULocationID': '163', 'DOLocationID': '186'},
 {'PULocationID': '161', 'DOLocationID': '107'},
 {'PULocationID': '233', 'DOLocationID': '263'},
 {'PULocationID': '236', 'DOLocationID': '75'},
 {'PULocationID': '144', 'DOLocationID': '140'},
 {'PULocationID': '229', 'DOLocationID': '246'},
 {'PULocationID': '68', 'DOLocationID': '231'},
 {'PULocationID': '249', 'DOLocationID': '79'},
 {'PULocationID': '79', 'DOLocationID': '170'},
 {'PULocationID': '170', 'DOLocationID': '43'},
 {'PULocationID': '43', 'DOLocationID': '233'},
 {'PULocationID': '79', 'DOLocationID': '4'},
 {'PULocationID': '79', 'DOLocationID': '162'},
 {'PULocationID': '229', 'DOLocationID': '141'},
 {'PULocationID': '162', 'DOLocationID': '224'},
 {'PULocationID': '224', 'DOLocationID': '68'},
 {'PULocationID': '132', 'DOLocationID': '61'},
 {'PULocationID': '236', 'DOLocationID': '236'},
 {'PULocationID': '142', 'DOLocationID': '170'},
 {'PULocationID': '107', 'DOLocationID': '145'},
 {'PULocationID': '164', 'DOLocationID': '161'},
 {'PULocationID': '161', 'DOLocationID': '140'},
 {'PULocationID': '43', 'DOLocationID': '125'},
 {'PULocationID': '142', 'DOLocationID': '24'},
 {'PULocationID': '151', 'DOLocationID': '237'},
 {'PULocationID': '236', 'DOLocationID': '43'},
 {'PULocationID': '239', 'DOLocationID': '239'},
 {'PULocationID': '132', 'DOLocationID': '265'},
 {'PULocationID': '68', 'DOLocationID': '163'},
 {'PULocationID': '163', 'DOLocationID': '163'},
 {'PULocationID': '163', 'DOLocationID': '233'},
 {'PULocationID': '137', 'DOLocationID': '114'},
 {'PULocationID': '163', 'DOLocationID': '225'},
 {'PULocationID': '137', 'DOLocationID': '236'},
 {'PULocationID': '239', 'DOLocationID': '211'},
 {'PULocationID': '211', 'DOLocationID': '246'},
 {'PULocationID': '68', 'DOLocationID': '158'},
 {'PULocationID': '148', 'DOLocationID': '79'},
 {'PULocationID': '148', 'DOLocationID': '79'},
 {'PULocationID': '79', 'DOLocationID': '107'},
 {'PULocationID': '79', 'DOLocationID': '170'},
 {'PULocationID': '238', 'DOLocationID': '42'},
 {'PULocationID': '107', 'DOLocationID': '231'},
 {'PULocationID': '231', 'DOLocationID': '158'},
 {'PULocationID': '238', 'DOLocationID': '238'},
 {'PULocationID': '237', 'DOLocationID': '236'},
 {'PULocationID': '263', 'DOLocationID': '151'},
 {'PULocationID': '238', 'DOLocationID': '48'},
 {'PULocationID': '141', 'DOLocationID': '140'},
 {'PULocationID': '43', 'DOLocationID': '161'},
 {'PULocationID': '161', 'DOLocationID': '261'},
 {'PULocationID': '79', 'DOLocationID': '148'},
 {'PULocationID': '148', 'DOLocationID': '232'},
 {'PULocationID': '68', 'DOLocationID': '13'},
 {'PULocationID': '13', 'DOLocationID': '211'},
 {'PULocationID': '211', 'DOLocationID': '50'},
 {'PULocationID': '238', 'DOLocationID': '238'},
 {'PULocationID': '239', 'DOLocationID': '133'},
 {'PULocationID': '132', 'DOLocationID': '188'},
 {'PULocationID': '132', 'DOLocationID': '149'},
 {'PULocationID': '137', 'DOLocationID': '229'},
 {'PULocationID': '229', 'DOLocationID': '262'},
 {'PULocationID': '262', 'DOLocationID': '229'},
 {'PULocationID': '75', 'DOLocationID': '75'},
 {'PULocationID': '138', 'DOLocationID': '95'},
 {'PULocationID': '132', 'DOLocationID': '218'},
 {'PULocationID': '264', 'DOLocationID': '186'},
 {'PULocationID': '264', 'DOLocationID': '114'},
 {'PULocationID': '264', 'DOLocationID': '79'},
 {'PULocationID': '264', 'DOLocationID': '239'},
 {'PULocationID': '43', 'DOLocationID': '239'},
 {'PULocationID': '239', 'DOLocationID': '68'},
 {'PULocationID': '68', 'DOLocationID': '261'},
 {'PULocationID': '237', 'DOLocationID': '234'},
 {'PULocationID': '90', 'DOLocationID': '48'},
 {'PULocationID': '125', 'DOLocationID': '231'},
 {'PULocationID': '125', 'DOLocationID': '231'},
 {'PULocationID': '231', 'DOLocationID': '238'},
 {'PULocationID': '161', 'DOLocationID': '228'},
 {'PULocationID': '186', 'DOLocationID': '107'},
 {'PULocationID': '107', 'DOLocationID': '233'},
 {'PULocationID': '162', 'DOLocationID': '263'},
 {'PULocationID': '263', 'DOLocationID': '137'},
 {'PULocationID': '264', 'DOLocationID': '264'},
 {'PULocationID': '264', 'DOLocationID': '137'},
 {'PULocationID': '137', 'DOLocationID': '212'},
 {'PULocationID': '141', 'DOLocationID': '231'},
 {'PULocationID': '239', 'DOLocationID': '238'},
 {'PULocationID': '238', 'DOLocationID': '141'},
 {'PULocationID': '237', 'DOLocationID': '262'},
 {'PULocationID': '236', 'DOLocationID': '79'},
 {'PULocationID': '229', 'DOLocationID': '233'},
 {'PULocationID': '137', 'DOLocationID': '263'},
 {'PULocationID': '263', 'DOLocationID': '144'},
 {'PULocationID': '141', 'DOLocationID': '107'},
 {'PULocationID': '107', 'DOLocationID': '166'},
 {'PULocationID': '151', 'DOLocationID': '236'},
 {'PULocationID': '237', 'DOLocationID': '137'},
 {'PULocationID': '233', 'DOLocationID': '137'},
 {'PULocationID': '170', 'DOLocationID': '238'},
 {'PULocationID': '233', 'DOLocationID': '229'},
 {'PULocationID': '233', 'DOLocationID': '229'},
 {'PULocationID': '229', 'DOLocationID': '164'},
 {'PULocationID': '236', 'DOLocationID': '75'},
 {'PULocationID': '141', 'DOLocationID': '158'},
 {'PULocationID': '249', 'DOLocationID': '7'},
 {'PULocationID': '158', 'DOLocationID': '229'},
 {'PULocationID': '236', 'DOLocationID': '236'},
 {'PULocationID': '236', 'DOLocationID': '238'},
 {'PULocationID': '238', 'DOLocationID': '75'},
 {'PULocationID': '79', 'DOLocationID': '107'},
 {'PULocationID': '79', 'DOLocationID': '234'},
 {'PULocationID': '186', 'DOLocationID': '211'},
 {'PULocationID': '211', 'DOLocationID': '112'},
 {'PULocationID': '249', 'DOLocationID': '239'},
 {'PULocationID': '236', 'DOLocationID': '262'},
 {'PULocationID': '262', 'DOLocationID': '229'},
 {'PULocationID': '229', 'DOLocationID': '75'},
 {'PULocationID': '234', 'DOLocationID': '186'},
 {'PULocationID': '246', 'DOLocationID': '13'},
 {'PULocationID': '234', 'DOLocationID': '50'},
 {'PULocationID': '50', 'DOLocationID': '90'},
 {'PULocationID': '107', 'DOLocationID': '107'},
 {'PULocationID': '107', 'DOLocationID': '79'},
 {'PULocationID': '79', 'DOLocationID': '4'},
 {'PULocationID': '4', 'DOLocationID': '249'},
 {'PULocationID': '249', 'DOLocationID': '79'},
 {'PULocationID': '141', 'DOLocationID': '262'},
 {'PULocationID': '262', 'DOLocationID': '263'},
 {'PULocationID': '263', 'DOLocationID': '141'},
 {'PULocationID': '262', 'DOLocationID': '43'},
 {'PULocationID': '43', 'DOLocationID': '48'},
 {'PULocationID': '229', 'DOLocationID': '236'},
 {'PULocationID': '43', 'DOLocationID': '161'},
 {'PULocationID': '161', 'DOLocationID': '164'},
 {'PULocationID': '143', 'DOLocationID': '68'},
 {'PULocationID': '132', 'DOLocationID': '25'},
 {'PULocationID': '132', 'DOLocationID': '140'},
 {'PULocationID': '141', 'DOLocationID': '229'},
 {'PULocationID': '229', 'DOLocationID': '237'},
 {'PULocationID': '239', 'DOLocationID': '151'},
 {'PULocationID': '238', 'DOLocationID': '262'},
 {'PULocationID': '262', 'DOLocationID': '239'},
 {'PULocationID': '148', 'DOLocationID': '231'},
 {'PULocationID': '231', 'DOLocationID': '239'},
 {'PULocationID': '107', 'DOLocationID': '249'},
 {'PULocationID': '249', 'DOLocationID': '68'},
 {'PULocationID': '68', 'DOLocationID': '249'},
 {'PULocationID': '164', 'DOLocationID': '107'},
 {'PULocationID': '107', 'DOLocationID': '107'},
 {'PULocationID': '107', 'DOLocationID': '79'},
 {'PULocationID': '79', 'DOLocationID': '90'},
 {'PULocationID': '237', 'DOLocationID': '237'},
 {'PULocationID': '237', 'DOLocationID': '234'},
 {'PULocationID': '90', 'DOLocationID': '170'},
 {'PULocationID': '162', 'DOLocationID': '170'},
 {'PULocationID': '142', 'DOLocationID': '43'},
 {'PULocationID': '239', 'DOLocationID': '236'},
 {'PULocationID': '236', 'DOLocationID': '151'},
 {'PULocationID': '142', 'DOLocationID': '50'},
 {'PULocationID': '50', 'DOLocationID': '68'},
 {'PULocationID': '68', 'DOLocationID': '33'},
 {'PULocationID': '186', 'DOLocationID': '97'},
 {'PULocationID': '236', 'DOLocationID': '137'},
 {'PULocationID': '107', 'DOLocationID': '162'},
 {'PULocationID': '162', 'DOLocationID': '141'},
 {'PULocationID': '79', 'DOLocationID': '79'},
 {'PULocationID': '79', 'DOLocationID': '79'},
 {'PULocationID': '79', 'DOLocationID': '232'},
 {'PULocationID': '148', 'DOLocationID': '170'},
 {'PULocationID': '137', 'DOLocationID': '13'},
 {'PULocationID': '170', 'DOLocationID': '113'},
 {'PULocationID': '234', 'DOLocationID': '79'},
 {'PULocationID': '79', 'DOLocationID': '148'},
 {'PULocationID': '79', 'DOLocationID': '161'},
 {'PULocationID': '234', 'DOLocationID': '125'},
 {'PULocationID': '211', 'DOLocationID': '79'},
 {'PULocationID': '79', 'DOLocationID': '45'},
 {'PULocationID': '231', 'DOLocationID': '164'},
 {'PULocationID': '164', 'DOLocationID': '229'},
 {'PULocationID': '162', 'DOLocationID': '263'},
 {'PULocationID': '263', 'DOLocationID': '75'},
 {'PULocationID': '43', 'DOLocationID': '48'},
 {'PULocationID': '132', 'DOLocationID': '91'},
 {'PULocationID': '263', 'DOLocationID': '141'},
 {'PULocationID': '162', 'DOLocationID': '163'},
 {'PULocationID': '48', 'DOLocationID': '246'},
 {'PULocationID': '246', 'DOLocationID': '114'},
 {'PULocationID': '237', 'DOLocationID': '236'},
 {'PULocationID': '236', 'DOLocationID': '239'},
 {'PULocationID': '239', 'DOLocationID': '142'},
 {'PULocationID': '142', 'DOLocationID': '239'},
 {'PULocationID': '132', 'DOLocationID': '265'},
 {'PULocationID': '90', 'DOLocationID': '158'},
 {'PULocationID': '249', 'DOLocationID': '249'},
 {'PULocationID': '249', 'DOLocationID': '48'},
 {'PULocationID': '186', 'DOLocationID': '186'},
 {'PULocationID': '186', 'DOLocationID': '125'},
 {'PULocationID': '125', 'DOLocationID': '97'},
 {'PULocationID': '144', 'DOLocationID': '50'},
 {'PULocationID': '211', 'DOLocationID': '88'},
 {'PULocationID': '87', 'DOLocationID': '13'},
 {'PULocationID': '13', 'DOLocationID': '48'},
 {'PULocationID': '68', 'DOLocationID': '107'},
 {'PULocationID': '142', 'DOLocationID': '79'},
 {'PULocationID': '79', 'DOLocationID': '107'},
 {'PULocationID': '237', 'DOLocationID': '236'},
 {'PULocationID': '236', 'DOLocationID': '249'},
 {'PULocationID': '158', 'DOLocationID': '48'},
 {'PULocationID': '132', 'DOLocationID': '256'},
 {'PULocationID': '50', 'DOLocationID': '68'},
 {'PULocationID': '114', 'DOLocationID': '239'},
 {'PULocationID': '43', 'DOLocationID': '24'},
 {'PULocationID': '24', 'DOLocationID': '243'},
 {'PULocationID': '137', 'DOLocationID': '141'},
 {'PULocationID': '236', 'DOLocationID': '239'},
 {'PULocationID': '142', 'DOLocationID': '166'},
 {'PULocationID': '166', 'DOLocationID': '41'},
 {'PULocationID': '239', 'DOLocationID': '42'},
 {'PULocationID': '41', 'DOLocationID': '238'},
 {'PULocationID': '238', 'DOLocationID': '239'},
 {'PULocationID': '239', 'DOLocationID': '236'},
 {'PULocationID': '141', 'DOLocationID': '143'},
 {'PULocationID': '143', 'DOLocationID': '48'},
 {'PULocationID': '114', 'DOLocationID': '68'},
 {'PULocationID': '90', 'DOLocationID': '229'},
 {'PULocationID': '237', 'DOLocationID': '143'},
 {'PULocationID': '239', 'DOLocationID': '107'},
 {'PULocationID': '186', 'DOLocationID': '229'},
 {'PULocationID': '229', 'DOLocationID': '237'},
 {'PULocationID': '236', 'DOLocationID': '42'},
 {'PULocationID': '142', 'DOLocationID': '50'},
 {'PULocationID': '142', 'DOLocationID': '50'},
 {'PULocationID': '246', 'DOLocationID': '233'},
 {'PULocationID': '249', 'DOLocationID': '48'},
 {'PULocationID': '246', 'DOLocationID': '61'},
 {'PULocationID': '162', 'DOLocationID': '163'},
 {'PULocationID': '163', 'DOLocationID': '236'},
 {'PULocationID': '263', 'DOLocationID': '142'},
 {'PULocationID': '161', 'DOLocationID': '229'},
 {'PULocationID': '164', 'DOLocationID': '234'},
 {'PULocationID': '113', 'DOLocationID': '238'},
 {'PULocationID': '142', 'DOLocationID': '41'},
 {'PULocationID': '151', 'DOLocationID': '161'},
 {'PULocationID': '161', 'DOLocationID': '114'},
 {'PULocationID': '50', 'DOLocationID': '48'},
 {'PULocationID': '137', 'DOLocationID': '162'},
 {'PULocationID': '233', 'DOLocationID': '141'},
 {'PULocationID': '141', 'DOLocationID': '193'},
 {'PULocationID': '162', 'DOLocationID': '163'},
 {'PULocationID': '163', 'DOLocationID': '79'},
 {'PULocationID': '90', 'DOLocationID': '68'},
 {'PULocationID': '249', 'DOLocationID': '148'},
 {'PULocationID': '142', 'DOLocationID': '181'},
 {'PULocationID': '25', 'DOLocationID': '257'},
 {'PULocationID': '164', 'DOLocationID': '90'},
 {'PULocationID': '263', 'DOLocationID': '141'},
 {'PULocationID': '262', 'DOLocationID': '236'},
 {'PULocationID': '236', 'DOLocationID': '142'},
 {'PULocationID': '142', 'DOLocationID': '143'},
 {'PULocationID': '143', 'DOLocationID': '13'},
 {'PULocationID': '170', 'DOLocationID': '239'},
 {'PULocationID': '143', 'DOLocationID': '94'},
 {'PULocationID': '132', 'DOLocationID': '80'},
 {'PULocationID': '107', 'DOLocationID': '236'},
 {'PULocationID': '236', 'DOLocationID': '142'},
 {'PULocationID': '142', 'DOLocationID': '107'},
 {'PULocationID': '170', 'DOLocationID': '195'},
 {'PULocationID': '132', 'DOLocationID': '238'},
 {'PULocationID': '263', 'DOLocationID': '141'},
 {'PULocationID': '162', 'DOLocationID': '237'},
 {'PULocationID': '107', 'DOLocationID': '50'},
 {'PULocationID': '142', 'DOLocationID': '239'},
 {'PULocationID': '142', 'DOLocationID': '231'},
 {'PULocationID': '50', 'DOLocationID': '261'},
 {'PULocationID': '249', 'DOLocationID': '246'},
 {'PULocationID': '68', 'DOLocationID': '107'},
 {'PULocationID': '107', 'DOLocationID': '87'},
 {'PULocationID': '132', 'DOLocationID': '10'},
 {'PULocationID': '194', 'DOLocationID': '194'},
 {'PULocationID': '234', 'DOLocationID': '87'},
 {'PULocationID': '211', 'DOLocationID': '148'},
 {'PULocationID': '148', 'DOLocationID': '255'},
 {'PULocationID': '132', 'DOLocationID': '95'},
 {'PULocationID': '161', 'DOLocationID': '164'},
 {'PULocationID': '170', 'DOLocationID': '75'},
 {'PULocationID': '141', 'DOLocationID': '263'},
 {'PULocationID': '142', 'DOLocationID': '238'},
 {'PULocationID': '238', 'DOLocationID': '236'},
 {'PULocationID': '237', 'DOLocationID': '141'},
 {'PULocationID': '79', 'DOLocationID': '236'},
 {'PULocationID': '144', 'DOLocationID': '42'},
 {'PULocationID': '238', 'DOLocationID': '167'},
 {'PULocationID': '238', 'DOLocationID': '167'},
 {'PULocationID': '234', 'DOLocationID': '231'},
 {'PULocationID': '144', 'DOLocationID': '263'},
 {'PULocationID': '161', 'DOLocationID': '127'},
 {'PULocationID': '74', 'DOLocationID': '248'},
 {'PULocationID': '142', 'DOLocationID': '143'},
 {'PULocationID': '143', 'DOLocationID': '238'},
 {'PULocationID': '237', 'DOLocationID': '237'},
 {'PULocationID': '137', 'DOLocationID': '137'},
 {'PULocationID': '238', 'DOLocationID': '166'},
 {'PULocationID': '166', 'DOLocationID': '151'},
 {'PULocationID': '238', 'DOLocationID': '249'},
 {'PULocationID': '48', 'DOLocationID': '48'},
 {'PULocationID': '48', 'DOLocationID': '162'},
 {'PULocationID': '141', 'DOLocationID': '89'},
 {'PULocationID': '43', 'DOLocationID': '238'},
 {'PULocationID': '239', 'DOLocationID': '262'},
 {'PULocationID': '236', 'DOLocationID': '238'},
 {'PULocationID': '239', 'DOLocationID': '236'},
 {'PULocationID': '237', 'DOLocationID': '141'},
 {'PULocationID': '138', 'DOLocationID': '74'},
 {'PULocationID': '263', 'DOLocationID': '239'},
 {'PULocationID': '143', 'DOLocationID': '151'},
 {'PULocationID': '229', 'DOLocationID': '263'},
 {'PULocationID': '141', 'DOLocationID': '229'},
 {'PULocationID': '141', 'DOLocationID': '75'},
 {'PULocationID': '263', 'DOLocationID': '141'},
 {'PULocationID': '263', 'DOLocationID': '145'},
 {'PULocationID': '234', 'DOLocationID': '164'},
 {'PULocationID': '107', 'DOLocationID': '186'},
 {'PULocationID': '238', 'DOLocationID': '151'},
 {'PULocationID': '151', 'DOLocationID': '143'},
 {'PULocationID': '142', 'DOLocationID': '236'},
 {'PULocationID': '236', 'DOLocationID': '107'},
 {'PULocationID': '90', 'DOLocationID': '229'},
 {'PULocationID': '233', 'DOLocationID': '74'},
 {'PULocationID': '263', 'DOLocationID': '233'},
 {'PULocationID': '239', 'DOLocationID': '236'},
 {'PULocationID': '236', 'DOLocationID': '140'},
 {'PULocationID': '237', 'DOLocationID': '161'},
 {'PULocationID': '229', 'DOLocationID': '137'},
 {'PULocationID': '233', 'DOLocationID': '223'},
 {'PULocationID': '143', 'DOLocationID': '166'},
 {'PULocationID': '24', 'DOLocationID': '238'},
 {'PULocationID': '238', 'DOLocationID': '141'},
 {'PULocationID': '140', 'DOLocationID': '263'},
 {'PULocationID': '140', 'DOLocationID': '47'},
 {'PULocationID': '163', 'DOLocationID': '107'},
 {'PULocationID': '237', 'DOLocationID': '141'},
 {'PULocationID': '249', 'DOLocationID': '233'},
 {'PULocationID': '141', 'DOLocationID': '263'},
 {'PULocationID': '263', 'DOLocationID': '140'},
 {'PULocationID': '140', 'DOLocationID': '263'},
 {'PULocationID': '141', 'DOLocationID': '141'},
 {'PULocationID': '264', 'DOLocationID': '263'},
 {'PULocationID': '137', 'DOLocationID': '263'},
 {'PULocationID': '162', 'DOLocationID': '140'},
 {'PULocationID': '164', 'DOLocationID': '229'},
 {'PULocationID': '234', 'DOLocationID': '234'},
 {'PULocationID': '246', 'DOLocationID': '48'},
 {'PULocationID': '48', 'DOLocationID': '246'},
 {'PULocationID': '246', 'DOLocationID': '68'},
 {'PULocationID': '246', 'DOLocationID': '4'},
 {'PULocationID': '246', 'DOLocationID': '151'},
 {'PULocationID': '151', 'DOLocationID': '236'},
 {'PULocationID': '237', 'DOLocationID': '141'},
 {'PULocationID': '237', 'DOLocationID': '137'},
 {'PULocationID': '170', 'DOLocationID': '142'},
 {'PULocationID': '142', 'DOLocationID': '238'},
 {'PULocationID': '239', 'DOLocationID': '140'},
 {'PULocationID': '263', 'DOLocationID': '162'},
 {'PULocationID': '249', 'DOLocationID': '223'},
 {'PULocationID': '146', 'DOLocationID': '145'},
 {'PULocationID': '142', 'DOLocationID': '142'},
 {'PULocationID': '142', 'DOLocationID': '229'},
 {'PULocationID': '140', 'DOLocationID': '40'},
 {'PULocationID': '231', 'DOLocationID': '164'},
 {'PULocationID': '50', 'DOLocationID': '186'},
 {'PULocationID': '186', 'DOLocationID': '164'},
 {'PULocationID': '170', 'DOLocationID': '237'},
 {'PULocationID': '142', 'DOLocationID': '107'},
 {'PULocationID': '137', 'DOLocationID': '229'},
 {'PULocationID': '50', 'DOLocationID': '158'},
 {'PULocationID': '249', 'DOLocationID': '263'},
 {'PULocationID': '166', 'DOLocationID': '238'},
 {'PULocationID': '238', 'DOLocationID': '166'},

In [29]:
# List of dictionaries and transform them into a feature matrix. sparse=False
dv = DictVectorizer(sparse=True)
feature_matrix = dv.fit_transform(df_to_list_of_dict)

In [30]:
num_columns = feature_matrix.shape[1]

In [31]:
num_columns

518

In [32]:
print(f"The dimensionality of the feature matrix is: {num_columns}")

The dimensionality of the feature matrix is: 518

Now let's use the feature matrix from the previous step to train a model.

Train a plain linear regression model with default parameters
Calculate the RMSE of the model on the training data
What's the RMSEthe  on train?


3.6
4
7.6
4
11.64
16.64

In [ ]:
X = feature_matrix
y = filtered_data['duration_in_minutes']

# Train a linear regression model
model = LinearRegression()
model.fit(X, y)

# Make predictions on the training data
y_pred = model.predict(X)

# Calculate the RMSE
rmse = np.sqrt(mean_squared_error(y, y_pred))

print(f"The RMSE on the training data is: {rmse:.2f}")